<!DOCTYPE html>
<html>

<head>
    <title>All Records</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Category CRUD</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<header>
    <div id="wrapper">
        <div id="header" style="background-color: tomato">
            <h1>Categories</h1>
        </div>
        <div id="menu">
            <ul>
                <li>
                    <a href="/categoryindex">Categories List</a>
                </li>
                <li>
                    <a href="addCategory">Add Categories</a>
                </li>
                <li>
                    <a href="productindex">Products</a>
                </li>
                <li>
                    <a href='logout'>Logout</a>
                </li>
                <!-- <li>
                    <a href="update.php">Update</a>
                </li>
                <li>
                    <a href="delete.php">Delete</a>
                </li> -->
            </ul>
        </div>

        <body>
            <div id="main-content">
                <h2>All Records</h2>
                <h2>Welcome! {{user_namee}}</h2>

                <form class="col" method="GET">
                    <input type="text" name="search" onkeyup="search" placeholder="Search by Category Name">
                    <input type="submit" value="Search" style="background-color:greenyellow">
                </form>

                <table cellpadding="7px">
                    <thead>
                        <th>Id</th>
                        <th>Category Name</th>
                        <th>Parent Category</th>
                        <th>No. of Products</th>
                    </thead>
                    <tbody>
                        {{#each category}}
                        <tr>
                            <td>{{@index}}</td>
                            <td>{{cname}}</td>
                            <td>{{pname}}</td>
                            <td>{{cc}}</td>
                            <td>
                                <a href='editCategory?id={{id}}&pname={{pname}}'>Edit</a> 
                                <a href='delete?id={{id}}' onclick='return checkdelete()'>Delete</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <script>
                    function checkdelete() {
                        return confirm('Are you sure you want to delete this record?');
                    }
                </script>
            </div>
        </body>

</html>